<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>

<div class="fullPage">

    {{ partial "header.html" . }}

    {{ if isset .Params "projectsite" }}
    <h2 class="projectTitle"><a class = "red-link" href = "{{ .Params.projectsite }}" target="_blank">{{ .Title }}</a></h2>
    {{ else }}
    <h2 class="projectTitle">{{ .Title }}</h2>
    {{end}}

	 {{ if .Params.video}}
	 <div class="video-wrapper">
	 	<iframe width="1920" height="1080" src="https://www.youtube.com/embed/{{ .Params.video }}?modestbranding=0&showinfo=0&rel=0" frameborder="0" allowfullscreen=""></iframe>
	 </div>
   {{else}}
   <img class = "mainImage" src="{{ .Params.headerimage }}"/>
	 {{ end }}

    {{ .Content }}

    <h3>Collaborators</h3>
    {{ range .Params.collaborators }}
    	<p>{{ if .website }}<a class = "red-link" href="{{ .website }}">{{ end }}{{ .name}}{{ if .website }}</a>{{ end }}</p>
    {{ end }}


   
</div>

</body>
</html>











