<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>

<div class="fullPage">

    {{ partial "header.html" . }}

    {{ if isset .Params "projectsite" }}
    <h2 class="projectTitle"><a class = "red-link" href = "{{ .Params.projectsite }}" target="_blank">{{ .Title }}</a></h2>
    {{ else }}
    <h2 class="projectTitle">{{ .Title }}</h2>
    {{end}}

	 {{ if .Params.video}}
	 <div class="video-wrapper">
   {{if isset .Params "isyoutube" }}
	 	<iframe width="1920" height="1080" src="https://www.youtube.com/embed/{{ .Params.video }}?modestbranding=0&showinfo=0&rel=0" frameborder="0" allowfullscreen=""></iframe>
    {{ else }}
    <iframe width="1920" height="1080" src="{{ .Params.video }}" frameborder="0" allowfullscreen=""></iframe>
    {{ end }}
	 </div>
   {{else}}
   <img class = "mainImage" src="{{ .Params.headerimage }}"/>
	 {{ end }}

    {{ .Content }}

    <h3>Collaborators</h3>
    <ul class="roles">
    {{ range .Params.role }}
        <li>
          <h4>{{ .name }}:</h4>
          <ul class="people">{{ range .collaborator }}<li class="person">{{ if .website }}<a class = "red-link" target="_blank" href="{{ .website }}">{{ end }}{{ .name}}{{ if .website }}</a>{{ end }}</li>{{ end }}
          </ul>
        </li>
    {{ end }}
    </ul>


    {{ range .Params.collaborator }}
      <p>{{ if .website }}<a class = "red-link" target="_blank" href="{{ .website }}">{{ end }}{{ .name}}{{ if .website }}</a>{{ end }}</p>
    {{ end }}

  
</div>

</body>
</html>











