*, *:before, *:after {box-sizing:  border-box !important;}


article {
    -moz-column-width: 18em;
    -webkit-column-width: 18rem;
    column-width: 18rem;
    -moz-column-gap: 1em;
    -webkit-column-gap: 0.3rem;
    column-width: 18rem;

  
}

.project {
 	display: inline-block;
    /* margin: 0.25rem; */
    margin-bottom: 0.75rem;
    padding: 1rem;
    width: 100%;
    /*background: #efefef;*/
    position:relative;
}

.overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background:rgba(104, 13, 13, 0.8); /*dim the background*/
  opacity: 0;
}

.project:hover .overlay{
	opacity: 1;
}

.overlay-text{
	
    margin: auto;
    color: white;
    /* align-items: center; */
    /* display: flex; */
    display: block;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    width: 8rem;
    margin-top: 3rem;
}

p {
 margin:  1rem 0; 
}




/*  styles for background color, etc; not necessary for this thing to work  */



body {
 padding:  1em;
 font-family: 'Bitter', serif;
}




h1 {
  font-size:  3rem;
  font-weight:  400;
  margin-bottom: 0;
}

.tagline, h1{
	font-family: 'Montserrat', sans-serif;
}

h2{
	margin-bottom: 0;
}

body {
  line-height:  1.25;
}


a.project{
	text-decoration: none;
	color: #111;
	padding: 0;
}

.project p{
	text-align:  left;
	margin-top: 0.2rem;
}

.project-image{
	width: 100%;
}

.project-info{
	padding: 1rem;
    display: block; /*spans by default don't behave like blocks, but like elements that can be squished*/
}

.fullPage{
	max-width: 60rem;
	margin: auto;
}

.icon{
	display: inline-block;
    float: right;
    position: relative;
    top: 0.5rem;
	text-align: center;
}

.icon img{
	width: 3rem;
}

.caption{
	display: block;
}

.mainImage{
  width: 100%;
}

.projectTitle{
  padding-bottom: 1rem;
}