*, *:before, *:after {box-sizing:  border-box !important;}


article {
    -moz-column-width: 18em;
    -webkit-column-width: 18rem;
    column-width: 18rem;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;

  
}

.project {
 	display: inline-block;
    /* margin: 0.25rem; */
/*    margin-bottom: 0.75rem*/;
    padding: 1rem;
    width: 100%;
    /*background: #efefef;*/
    position:relative;
}

.project-info{
  margin-right: 1rem;
  padding-bottom: 0.3rem;
  display: block; /*spans by default don't behave like blocks, but like elements that can be squished*/
}

.project:hover .project-info{
  color: rgba(196, 18, 18, 1);
}

.thumbnail-frame{
  overflow: hidden;
  transform: translateZ(0);
}

.project img{

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


p {
 margin:  1rem 0; 
}


body {
 padding:  1em;
 font-family: 'EB Garamond', serif;
}

b {
  font-weight: 600;
}



h1 {
  font-size:  2rem;
  font-weight:  400;
  margin-bottom: 20px;
}

.tagline, h1{
	font-family: 'Montserrat', sans-serif;
}

h2{
	margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

body {
  line-height:  1.25;
}


a.project{
	text-decoration: none;
	color: #111;
	padding: 0;
}

.roles, .people{
  list-style: none;
}

.roles h4{
  display: inline-block;
  margin: 0 0 1rem 0;
}

.people{
  display: inline-block;
  padding: 0;
}
.person{
  display: inline-block;
}

.person:not(:first-child):before{
  content: ", ";
}

.splitImage{
  width: 50%;
  float: left;
  margin-bottom: 1rem;
}

.project p{
	text-align:  left;
	margin-top: 0.2rem;
}

.header-image{
  width: 100%;
}

.project-image{
	width: 100%;
  padding-bottom: 1rem;
}

a.red-link{
  text-decoration: none;
  color: #111;
}

.fullPage{
	display: flex;
	margin: auto;
  gap: .5rem;
  flex-direction: column;
}

.left-nav{
  width:10rem;
  flex-shrink: 0;
  
}

.main-content{
  flex-grow: 1;
}

@media screen and (min-width: 725px){
  .fullPage{
    flex-direction: row;
    max-width: 70rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap:2rem;
  }
  .left-nav{
    padding-top:1rem;
  }
  .main-content{
    padding-top:0rem;
    padding-bottom: 5rem;
  }
  .text-only-content{
    padding-top: 4rem;
    max-width: 35rem;
  }
  .single-line-content{
    padding-top: 6rem;
  }
}

@media screen and (min-width: 900px){
  .left-nav{
    padding-top: 2rem;
  }
  .main-content{
    padding-top: 1rem;
  }
}

.left-nav ul{
  list-style-type:none;
  padding-inline-start:0px;
}

.left-nav li{
  padding-bottom: 5px;
}

.project-list{
  border-bottom-style: solid;
  border-bottom-color: gray;
  padding-bottom: 10px;
}

.subproject-list{
  margin-inline-start: 1rem;
}

.nav-item{
  padding-bottom: 10px;
  color: gray;
  text-decoration: none;
}

.nav-item:hover{
  color: rgba(196, 18, 18, 1);
}

.nav-item-selected{
  font-weight: 600;
  color: #111;
}

.nav-item-selected:hover{
  color: #111;
}


.icon{
	display: inline-block;
    float: right;
    position: relative;
    top: 0.5rem;
	text-align: center;
}

.icon img{
	width: 3rem;
}

.caption{
	display: block;
}

.project-title{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.project-subtitle{
    padding-top: 0rem;
    padding-top: 0rem;
    margin-top: -.5rem;
    font-style: italic;
}

.unformatted-list ul{
    list-style-type: none;
    margin-top: 0rem;
}
.unformatted-list p{
    margin-bottom: 0rem;
}

.unspaced-text p{
    margin-top: 0rem;
}

a.red-link:hover{
  color: rgba(196, 18, 18, 1);
}

p a{
  color: rgba(196, 18, 18, 1);
}

p a:hover{
  color: #960B0B;
}

.video-wrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin: auto;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

.small-text {
  font-size: smaller;
  margin-top: 0;
}

.separate-note{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

