body {
    max-width: 70%;
    margin: auto;
    padding-top:2rem;
    font-family: 'Neuton', serif;
}

section{
    color:#FF0000;
}

.bigText{
    font-size: 20px;
}

#headerBunny{
    width: 40em;
}

#paragraphBunny{
    width:40em
}
