body {
    max-width: 70%;
    margin: auto;
    padding-top:2rem;
    font-family: 'Neuton', serif;
}

section{
    color:#FF0000;
}

.bigText{
    font-size: 20px;
}

img{
    width:40rem;
    margin-top:2rem;
    margin-bottom:2rem;
}

